.slider{
    height: auto;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    animation: scroll 60s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(300px * 22);
}

.slider .slide {
    width: 250px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 3));
        -webkit-transform: translateX(calc(-250px * 3));
    }
}
