[data-theme='dark'] {
    --content-brand-primary: #45D1FF;
    --content-brand-secondary: #0052B4;
    --content-primary: #ffffff;
    --content-primary-inverse: #0B111D;
    --content-secondary: #717892;
    --content-tertiary: #95a4bb;
    --content-green-primary: #3fd1c2;
    --content-orange-primary: #FF532D;
    --content-caption: #9FA6B2;
    --content-info-primary: #6573f8;
    --content-warning-primary: #fda522;
  
    --surface-primary: #0B111D;
    --surface-secondary: #0A1930;
    --surface-tertiary: #717892;
    --surface-green-primary: #3fd1c2;
    --surface-green-secondary: #1e3f42;
    --surface-green-tertiary: #13282a;
    --surface-orange-primary: #FF532D;
    --surface-orange-secondary: #422631;
    --surface-orange-tertiary: #27161d;
    --surface-brand-primary: #45D1FF;
    --surface-brand-secondary: #0052B4;
    --surface-hover: #22272f;
  
    --border-primary: #717892;
    --border-brand-primary: #45D1FF;
    --border-brand-secondary: #0052B4;
    --border-content-secondary: #717892;
    --border-content-tertiary: #95a4bb;
  
    --shadow-primary: #0B111D;
    --shadow-secondary: #0A1930;
    --shadow-focused: #45D1FF;
  
    --label-blue: #0052B4;
    --label-light-gray: #717892;
    --label-orange: #fda522;
    --label-orange-secondary: #492d01;
  
    --button-secondary-pressed: #717892;
    --content-white: #ffffff;
    --button-success-default: #3fd1c2;
    --button-success-hover: #16a9a0;
    --button-success-pressed: #0b827b;
    --surface-secondary-alpha: rgba(11, 17, 29, 0.5);
    --button-brand-hover: #167BCC;
    --button-error-hover: #cb2e47;
    --button-error-pressed: #8a2333;
    --button-brand-pressed: #0052B4;
  
    --border-default: #717892;
    --surface-default: #717892;
  }
  
  [data-theme='light'] {
    --content-brand-primary: #0052B4;
    --content-brand-secondary: #45D1FF;
    --content-primary: #0B111D;
    --content-primary-inverse: #ffffff;
    --content-secondary: #717892;
    --content-tertiary: #95a4bb;
    --content-green-primary: #16a9a0;
    --content-orange-primary: #FF532D;
    --content-caption: #9FA6B2;
    --content-info-primary: #6573f8;
    --content-warning-primary: #fda522;
  
    --surface-primary: #ffffff;
    --surface-secondary: #f9fafb;
    --surface-tertiary: #eaeef4;
    --surface-green-primary: #16a9a0;
    --surface-green-secondary: #c7e0df;
    --surface-green-tertiary: #e8f2f2;
    --surface-orange-primary: #FF532D;
    --surface-orange-secondary: #f1d0d6;
    --surface-orange-tertiary: #fdf2f4;
    --surface-brand-primary: #0052B4;
    --surface-brand-secondary: #45D1FF;
    --surface-hover: #f3f5f7;
  
    --border-primary: #e4e9f1;
    --border-brand-primary: #0052B4;
    --border-brand-secondary: #45D1FF;
    --border-content-secondary: #717892;
    --border-content-tertiary: #95a4bb;
  
    --shadow-primary: #d6dce6;
    --shadow-secondary: #eaeef4;
    --shadow-focused: #45D1FF;
  
    --label-blue: #cff6fe;
    --label-light-gray: #f3f5f7;
    --label-orange: #fda522;
    --label-orange-secondary: #fff9eb;
  
    --button-secondary-pressed: #e4e9f1;
    --content-white: #ffffff;
    --button-success-default: #16a9a0;
    --button-success-hover: #0b827b;
    --button-success-pressed: #06726b;
    --surface-secondary-alpha: rgba(249, 250, 251, 0.5);
    --button-brand-hover: #167BCC;
    --button-error-hover: #cb2e47;
    --button-error-pressed: #8a2333;
    --button-brand-pressed: #0052B4;
  
    --border-default: #e4e9f1;
    --surface-default: #eaeef4;
  }